VITE_FIREBASE_API_KEY="AIzaSyAinUtoFY6ss53HCtY_spwZfKl2WhC9o2A"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0927224683.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0927224683"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0927224683.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="413362863594"
VITE_FIREBASE_APP_ID="1:413362863594:web:e9aa518eb213ff00fb0693"
